<%= form_for(@root) do |f| %>
  <% if @root.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@root.errors.count, "error") %> prohibited this root from being saved:</h2>

      <ul>
      <% @root.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
