<!-- contents -->
<div class="lp-contents">
    <div class="center-contents">
        <%= image_tag("top_logo.png") %>
        <div class="fb-btn">
            <a href="<%= user_omniauth_authorize_path(:facebook) -%>">
                <%= image_tag("facebook.png"), class: 'fb-btn'  -%>
            </a>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
</div>
