<!-- contents -->
<div class="lp-contents" style="background-image: url('/assets/LP_top-7d2bd4bd75b89a02e7f591c6a4f197290f326a795293fed41090b9bb5819521d.jpg'); background-size: 100% auto;
">
    <div class="center-contents">
        <%= image_tag("top_logo.png") %>
        <div class="fb-btn">
            <a href="<%= user_omniauth_authorize_path(:facebook) -%>">
                <%= image_tag("facebook.png", class: 'fb-btn') -%>
            </a>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
</div>
