<!-- header -->
<div class="header">
    <a href="#"><img src="./images/logo_02.png"></a>
</div>

<!-- contents -->
<div class="contents">
    <div class="center-contents">
        <!--<img src="./images/top_logo.png">-->
        <div class="fb-btn">
            <a href="#">
                <!--<img src="./images/facebook.png">-->
            </a>
        </div>
    </div>
</div>
<%= link_to 'fb signIn', user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' -%>
<!-- footer -->
<div class="footer">
</div>
