<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Hello Again</title>
<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>
	<!-- header -->
	<div class="header">
			<a href="#"><img src="./images/logo_02.png"></a>
	</div>

	<!-- contents -->
	<div class="contents">
		<div class="center-contents">
			<img src="./images/top_logo.png">
			<div class="fb-btn">
			　	<a href="#"><img src="./images/facebook.png"></a>
			</div>
		</div>
	</div>
	<div class="illust">
		<div class="sentence">
			<h1>こんな失敗ありませんか？<h1>
				<img src="./images/i-01.jpg">
				<p>
					HelloAgainを使えば、より円滑な社会生活ができます。
					話す機会が少ない先輩社員や、一度会っただけの知り合い、影の薄い旧友との再会など、顔を思い出さなければならない場面で大変活躍することでしょう。
				</p>
		</div>
	</div>
	<div class="illust">
		<div class="sentence">
			<h1>相手の情報は自動で取得<h1>
				<img src="./images/i-02.jpg">
		<img src="./images/i-03.jpg">
				<p>
					使い方はとても簡単。お互いに名刺情報を入力し、ログインすれば
					自動的に相手の名刺情報が表示されます。
				</p>
		</div>
	</div>
	<div class="footer">
	</div>
</body>
</html>