// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
    margin: 10px 10px;
    padding: 10px;
}


.cards {
    width: 91mm;
    height: 55mm;
    margin: 10px 10px;
    padding: 5px;
    border: thin solid #000000;
}
.default {

    $text_length: 58mm;

    #face_image {
        width: 25mm;
        height: 25mm;
        margin: 5px 5px;
        padding: 5px;
        border: thin solid #000000;
        float: left;
    }

    #company {
        width: $text_length;
        height: 7mm;
        margin: 1px 2px;
        padding: 1px;

        float: right;
    }

    #position {
        width: $text_length;
        height: 7mm;
        margin: 1px 2px;
        padding: 1px;

        float: right;

    }
    #name {
        width: $text_length;
        height: 7mm;
        margin: 2px 2px;
        padding: 2px;

        font-size: 24px;
        text-align: center;

        float: right;
    }


    #email {
        width: $text_length;
        height: 7mm;
        margin: 2px 2px;
        padding: 2px;

        float: right;
    }

    #tell {
        width: $text_length;
        height: 7mm;
        margin: 2px 2px;
        padding: 2px;

        float: right;

    }
}