div.lp {
    display: block;
}

.lp-contents{
	height: auto;
    background-image: url("/app/views/devise/sessions/images/LP_top.jpg");
    background-size: 100% auto;
    background-position: center center;
	background-size: cover;
    text-align: center;
}
.lp-contents img.lp{
	width: 80%;
	margin: 30px auto;
	border: 0;
}
.fb-btn{
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: block;
	text-align: center;
	border: 0;
}

